textarea {
    min-height: 400px;
}


#email {
    margin-bottom: 2px;
    border: 1px solid black;
    cursor: pointer;
}

/* #email-info {
    
} */


#subject{
    display: inline;
    margin: 0px;
}
/* #email_sender {
    margin-right: 20px;
} */

/* #email_date {
    float: right;
} */